<div class="user-details">
  <h1>Authors</h1>
  <p>{{ site.user_authors }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Paper</h2>
    <img src="sub1.png" alt="paper">
    <p><a href="https://openaccess.thecvf.com/content/CVPR2022/papers/Rombach_High-Resolution_Image_Synthesis_With_Latent_Diffusion_Models_CVPR_2022_paper.pdf">Link</a> to ArXiv.</p>
  </div>
  <div class="tech">
    <h2>Suppl. Material</h2>
    <img src="sub2.png" alt="suppl.">
    <p><a href="https://drive.google.com/file/d/17JFYU-hM1TR1G2ZzR2uZCPx-ChxkDc3z/view?usp=drive_link">Download</a> for more result.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="sub3.png" alt="code">
    <p>Link to <a href="https://github.com/RomGai/BrainVis">Github</a>.</p>
  </div>
    <div class="tech">
    <h2>BibTex</h2>
    <img src="sub4.png" alt="bibtex">
    <p>Jump to <a href="#BT">BibTeX</a>.</p>
  </div>
</div>
<div class="user-details">
  <h1>Abstract</h1>
  <p>{{ site.user_abstract }}</p>
</div>
<div class="user-details">
  <h1>Contributions</h1>
  <p>{{ site.user_Contribution }}</p>
</div>
<div class="user-details">
  <h1>Framework</h1>
  <p>{{ site.user_framework }}</p>
</div>
<div class="user-details">
  <h1>Experiment Results</h1>
  <p>{{ site.user_Experiment_Results }}</p>
</div>
<div class="user-details">
  <h1 id="BT">BibTex</h1>
  <p>{{ site.user_BibTeX }}</p>
</div>
<div class="user-details">
  <h1>Broader Information</h1>
  <p>{{ site.user_Acknowledgments }}</p>
</div>
